@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --card-container-width: 25rem;
    --card-border-color: rgb(191, 177, 121);
    --card-background-color: rgb(255, 253, 237);
}

body {
    margin: 0;
    padding: 0;
    background: #ebdd59;
}

* *::before *::after {
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 6rem;
    position: fixed;
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 100%); 
    backdrop-filter: blur(20px);
    z-index: 3;
}
.title {
    display: flex;
    align-items: center;
    color: rgb(113, 91, 2);
}
.title-main {
    font-size: 2.5rem;
    font-family: "Sour Gummy";
    font-weight: 700;
}
.title-italic {
    font-size: 2.5rem;
    font-family: "Crimson Pro";
    font-weight: 300;
    font-style: italic;
}

.buffer {
    width: 100%;
    height: 10rem;
}
.container {
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    z-index: -1;
}

.card {
    width: var(--card-container-width);
    height: var(--card-container-width);
    /* border: 2px solid limegreen; */
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.25rem;
    transition: scale 300ms cubic-bezier(.19,-0.14,.41,-0.07);
}

#plus {
    background-color: var(--card-background-color);
    border: 3px dashed rgb(191, 187, 154);
    border-radius: 1.7rem;
    padding: 1rem;
    height: 70%;
    cursor: pointer;
}


.area {
    padding: 1.5rem;
    background-color: var(--card-background-color);
    border: 1.5px solid var(--card-border-color);
    grid-column: 1/5;
    grid-row: 1/5;
    border-radius: 1.7rem;
    box-shadow: rgba(145, 143, 127, 0.2) 0px 5px 5px;
    transition: box-shadow 300ms ease;
    transition: transform 400ms ease;
    z-index: 1;
    cursor: pointer;
}

.area:focus-within {
    transform: translateY(-0.5rem);
    box-shadow: rgba(145, 143, 127, 0.2) 0px 20px 30px;
}

.btn-container {
    grid-column: 1/3;
    display: flex;
    gap: 0.25rem;
    /* border: 2px solid blue; */
    transform: translateY(calc(var(--card-container-width) / 3 * -1));
    transition: transform 300ms cubic-bezier(.07,.56,.24,1.27);
    z-index: 0;
    padding-left: 1rem;
}
.btn-container.popup {
    transform: translateY(0);
}

.btn {
    background-color: var(--card-background-color);
    border: 1.5px solid var(--card-border-color);
    box-shadow: rgba(145, 143, 127, 0.2) 0px 5px 20px;
    /* border: 2px solid red; */
    border-radius: 3rem;
    width: 100%;
    cursor: pointer;
}

.text-area {
    overflow-wrap:break-word;
    outline: 0;
    /* border: 1px solid black; */
    height: 90%;
    width: 90%;
    overflow: auto;
    font-family: "Cabin", monospace;
    font-size: 1.2rem;
    color: rgb(79, 79, 79);
}

.mark-btn, .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark-btn span, .delete-btn span {
    user-select: none;
    pointer-events: none;
    color: rgb(70, 64, 57);
}


.filled-mark {
    font-variation-settings: 'FILL' 1;
}

.plus-btn {
    font-size: 120pt;
    color: rgb(190, 185, 160);
}
.plus-m {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media (max-width: 700px) {
    :root {
        --card-container-width: 30rem;
    }
} */

@media (max-width: 500px) {
   :root {
        --card-container-width: 30rem;
   } 
   .container {
    row-gap: 0rem;
   }
   .btn-container {
    padding-bottom: 1.5rem;
   }
}

/* #btn-mark {
    font-variation-settings: 'FILL' 0;
} */




